$def with (args)
$ node = args['node']
$ extra_css = node.get('mute') and ' mute' or ''
$if node['type'] == 'flock':
  <span class=toggler-label id=$node['cache_slug']>
    <span class="${'node-title' + extra_css}">$node['title']</span>
  </span>
  <input type=checkbox id=${'toggle_' + node['cache_slug']} class=toggler checked=checked>
  <div class="${'flock-items' + extra_css}">
    <ul class="flock">
      $for item in args['items']:
        <li>$:item</li>
    </ul>
  </div>
$else:
  <span id=$node['cache_slug']>
    <a class="${'internal' + extra_css}" href="$node['url']#TEMPORARY">$node['cache_title']</a>
  </span>
