$def with (rendered)
<!doctype html>
$ homepath = ctx.homepath
<html lang="en">
  <head>
    <title>$:rendered.get('title','(untitled)') | Flocks</title>
    <link rel=stylesheet type=text/css href="$homepath/static/style.css">
    <script type=text/javascript src="$homepath/static/jquery.js"></script>
    <script type=text/javascript src="$homepath/static/jquery.ajaxmanager.js"></script>
    <script type=text/javascript src="$homepath/static/flocks.js"></script>

  </head>
  <body>
    <div class=page>
      $for flash in flashes():
        $if loop.first:
          <ul class=flashes>
        <li>$flash</li>
        $if loop.last:
          </ul>
      <h1>$:rendered.get('title')</h1>
      $ description = rendered.get('description','')
      $if description:
        <div class="page-description">$:description</div>
      <div class=navigation>
        $if account.is_logged_in():
          <form class="login-menu" method=post action="$homepath/logout">
            $if not rendered.get('is_password_page'):
              <a class=internal-link href="$homepath/set_password">Change password</a>
            $:logout_form({'csrf_token':csrf_token()}).render_css()
          </form>
        $elif not rendered.get('is_login_page'):
            <form class="login-menu" method=post action="$homepath/login">
              $if account.is_new():
                $if not rendered.get('is_password_page'):
                  <a class="important internal-link" href="$homepath/set_password">Quick! Own your nest!</a>
              $else:
                $:login_form({'csrf_token':csrf_token()}).render_css()
            </form>
        <a class=internal-link href="$homepath/">Flock</a>
        <form class="inline-with-labels" method=post action="$homepath/channel">
            $code:
                feedform = feed_form()
                feedform.fill(csrf_token=csrf_token())
            $:feedform.render_css()
        </form>
      </div>
      <div class=body>
      $:rendered
      </div>
      <div class=footer>
        Flocks &mdash; A <a target="_blank" href="http://webpy.org/">Web.Py</a> Application.
      </div>
    </div>
  </body>
</html>
