$def with (rendered)
<!doctype html>
$ homepath = ctx.homepath
<html lang="en">
  <head>
    <title>$rendered.get('title','(untitled)') | Flocks</title>
    <link rel=stylesheet type=text/css href="$homepath/static/style.css">
  </head>
  <body>
    <div class=page>
      <h1>$rendered.get('title')</h1>
      $ description = rendered.get('description','')
      $if description:
        <div class="page-description">$description</div>
      <div class=navigation>
        $if account.is_logged_in:
          <form class="login-menu" method=post action="$homepath/logout">
            <input type=hidden name=csrf_token value=$csrf_token()>
            $if not rendered.get('is_password_page'):
              <a class=internal-link href="$homepath/set_password">Change password</a>
            <input type=submit value="Logout">
          </form>
        $elif not rendered.get('is_login_page'):
            <form class="login-menu" method=post action="$homepath/login">
              $if account.is_new:
                $if not rendered.get('is_password_page'):
                  <a class="important internal-link" href="$homepath/set_password">Quick! Own your nest!</a>
              $else:
                <input type=hidden name=csrf_token value=$csrf_token()>
                <input type="password" name="password">
                <input type=submit value="Login">
          </form>

        <a class=internal-link href="$homepath/">Flock</a>
      </div>
      <div class=body>
      $:rendered
      </div>
      <div class=footer>
        Flocks &mdash; A <a target="_blank" href="http://webpy.org/">Web.Py</a> Application.
      </div>
    </div>
  </body>
</html>
