$def with (args)
$var title: $args.get('title','(untitled)')
$var description: $:{args.get('description','')}
$ homepath = ctx.homepath
$ extra_css = args.get('hide_feed') and ' hide-feed' or ''
<div id="loading-div">
  <a href="#" id="refresh" class="internal-link">Refresh now</a>
  <ul id="loading-list">
  </ul>
</div>
$if args.has_key('feed_url'):
    <div class="feed-details">
      $if args.has_key('site_url'):
        <a class="site-reference" href="$args['site_url']">Site</a>,
      <span class="feed-reference">
        <label for="feed-url">Feed:</label>
        <input id="feed-url" readonly=readonly value="$args['feed_url']">
        $if args.get('not_in_flock'):
          <form class=inline-form method=post action="$homepath/">
            $:mini_edit_form({'csrf_token':csrf_token(),'verb':'addfeed','subject':args['feed_url']}).render_css()
            <button>Add to flock</button>
          </form>
      </span>
    </div>
<ul class='messages$extra_css' id=messages>
</ul>
<script type=text/javascript>
window.MAX_PAGE_ENTRIES = ${args.get('max_page_entries',5)};
window.MAX_FEED_ENTRIES = ${args.get('max_feed_entries',5)};
window.FEED_REFRESH_SECONDS = ${args.get('feed_refresh_seconds',300)};
window.EXPAND_ALL_ENTRIES = ${args.get('expand_all_entries') and 'true' or 'false'};
window.HTML_FEED_URL = '$homepath/channel';
window.AJAX_FEED_URL = '$homepath/api/channel';
window.AJAX_LOADER_HTML =
    '<img alt="loading..." width="16" height="16" src="$homepath/static/ajax-loader.gif">';
window.BUTTON_HTML = {
$for f in args.get('feeds',[]):
    '$:f["url"]':unescape('$:f["button_html"]')$(not loop.last and ',' or '')
}
window.fetch_feeds = function() {
    window.abort_all_fetches();
    $for f in args.get('feeds',[]):
        fetch_from_feed('messages',unescape('$f['title']'),'$:f['url']');
    return false;
}
$$(function() {
    $$('#refresh').click(fetch_feeds);
    fetch_feeds();
});
</script>
