$def with (args)
$var title: $args.get('title','(untitled)')
$var description: $:{args.get('description','')}
$ homepath = ctx.homepath
<div><a href="#" id="refresh" class="internal-link">Refresh now</a></div>
<ul class=messages id=messages>
</ul>
<script type=text/javascript>
window.MAX_PAGE_ENTRIES = ${args.get('max_page_entries',5)};
window.MAX_FEED_ENTRIES = ${args.get('max_feed_entries',5)};
window.FEED_REFRESH_SECONDS = ${args.get('feed_refresh_seconds',300)};
window.EXPAND_ALL_ENTRIES = ${args.get('expand_all_entries') and 'true' or 'false'};
window.HTML_FEED_URL = '$homepath/channel';
window.AJAX_FEED_URL = '$homepath/api/channel';
window.AJAX_LOADER_HTML =
    '<img alt="loading..." width="16" height="16" src="$homepath/static/ajax-loader.gif">';
window.BUTTON_HTML = {
$for f in args.get('feeds',[]):
    '$f["url"]':unescape('$:f["button_html"]')$(not loop.last and ',' or '')
}
window.fetch_feeds = function() {
    $$('#refresh').fadeOut(500).fadeIn(500); // some visual feedback
    window.abort_all_fetches();
    $for f in args.get('feeds',[]):
        fetch_from_feed('messages',unescape('$f['title']'),'$f['url']');
    return false;
}
$$(function() {
    $$('#refresh').click(fetch_feeds);
    fetch_feeds();
});
</script>
